<a id="logo" href="{{ .Site.BaseURL }}">
	<svg width="46.567mm" height="13.159mm" version="1.1" viewBox="0 0 46.567 13.159" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
 <metadata>
  <rdf:RDF>
   <cc:Work rdf:about="">
    <dc:format>image/svg+xml</dc:format>
    <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>
    <dc:title/>
   </cc:Work>
  </rdf:RDF>
 </metadata>
 <g transform="translate(-65.435 -110.15)">
  <text x="65.011909" y="123.13095" fill="#ffffff" font-family="sans-serif" font-size="10.583px" letter-spacing="0px" stroke-width=".26458" word-spacing="0px" style="line-height:1.25" xml:space="preserve"><tspan x="65.011909" y="123.13095" fill="#ffffff" font-family="'Good Times'" font-size="17.639px" stroke-width=".26458">MEC</tspan></text>
 </g>
</svg>
 </a>
